.navBar{
    background-color: #2E0259;
    padding-left: 3%;
    padding-right: 3%;
}

.profile{
    margin-left: auto;
    margin-right: 8%;
}


.btn2{
    border: none;
}

@media all and (max-width : 991px) {
    .userName-Home{
        margin-left: 15px;
    }
}
